/*---==================
    04. Hero css 
=================----*/


/*====== Banner One ======*/
.main-banner {
    text-align: center;
}

.bannereo {
    // background-color: rgba(223, 63, 0, 0.07);
    padding: 180px 0 60px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99;

    @media #{$xs} {
        padding: 90px 0 20px;
    }

    .bannereo-img {
        margin: 50px;
    }

    .bannereo-contents {
        padding: 30px;
        border-radius: 15px;
        margin: 20px;
        border: 10px solid rgba(229, 194, 96, 0.35);

        @media #{$xs} {
            margin: 10px;
            border: 4px solid rgba(229, 194, 96, 0.35);
            padding: 0 15px;

        }
    }

    // background: rgba(69,25,16,0.5);
    h3 {
        margin: 15px 4px;
        color: #fff;
        font-family: 'marr';
    }

    h2 {
        margin: 15px 4px;
        color: $red;
    }

    p {
        color: #fff;
        line-height: 2.2;
        font-size: 17px;
        margin: 20px 0;

        @media #{$xs} {
            line-height: 1.8;
            font-size: 18px;
            text-align: justify;
        }
    }
}


/*====== Banner Two ======*/

.banner-two {
    padding: 100px 0 110px;
    overflow: hidden;

    & .shape {
        position: absolute;
        z-index: -1;

        &.shape-one {
            left: 100px;
            top: 125px;

            & img {
                opacity: .04;
            }
        }

        &.shape-two {
            top: 100px;
            right: 40%;
            z-index: 1;

            @media #{$xm} {
                right: 70%;
            }
        }

        &.svg-shape {
            bottom: 0;
            left: 0;

            & path {
                fill: #fbf8f5;
            }
        }
    }

    & .hero-content {
        & span.tag-line {
            padding: 10px 53px 10px 22px;
            background: url(../images/hero/tag-bg.png) no-repeat;
            background-size: cover;
            color: #fff;
            font: 400 27px $forum;
            margin-bottom: 40px;
        }

        & h1 {
            font-size: 180px;
            line-height: 1;
            margin-bottom: 60px;

            @media #{$lm} {
                font-size: 120px;
            }

            @media #{$xs} {
                font-size: 60px;
                margin-bottom: 40px;
            }
        }
    }

    & .hero-img-box {
        @media #{$xm} {
            margin-bottom: 50px;
        }

        & img {
            filter: drop-shadow(0px 10px 60px rgba(223, 63, 0, 0.3));
        }
    }
}

/*====== Banner Three ======*/

.banner-three {
    background-color: $heading;

    & .single-slider {
        padding: 225px 0 120px;
        padding-left: 110px;

        @media #{$xm} {
            padding-left: 0;
        }
    }

    & .hero-content {
        position: relative;
        max-width: 615px;
        z-index: 1;

        & h1 {
            font-size: 200px;
            line-height: 1;
            margin-bottom: 30px;

            @media #{$xs} {
                font-size: 100px;
            }
        }
    }

    & .hero-image {
        position: relative;
        margin-top: -330px;
        max-width: 1425px;
        z-index: -1;
        margin-left: auto;

        @media #{$xm} {
            margin-top: 60px;
        }

        & .image-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(140.32deg, rgba(14, 19, 23, 0.92) 10.48%, rgba(14, 19, 23, 0) 77.33%);
        }

        & img {
            display: inline-block;
        }
    }
}

.hero-arrows {
    position: absolute;
    bottom: 85px;
    right: 10%;
    display: flex;

    & .slick-arrow {
        width: 65px;
        height: 65px;
        @extend %flex-center;
        background-color: #fff;
        cursor: pointer;
        @include transition(.3s);

        &.next,
        &:hover {
            background-color: $primary;
            color: #fff;
        }
    }
}

/*====== Page Banner ======*/

.page-banner {
    padding: 160px 0 120px;
    position: relative;
    z-index: 1;

    @media #{$lm} {
        padding: 180px 0 150px;
    }

    & .page-banner-content {
        & h1 {
            font-size: 60px;
            line-height: 2em;
            margin-bottom: 18px;
            letter-spacing: 1.2px;
            color: #fff;
            text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.6);

            @media #{$lm} {
                font-size: 80px;
            }

            @media #{$xs} {
                font-size: 40px;
            }
        }

        & ul.breadcrumb-link {
            background-color: $primary;
            display: inline-flex;
            border-radius: 7px;
            padding: 15px 40px;

            & li {
                font-weight: 600;
                font-size: 17px;

                &:hover {
                    & a {
                        color: $heading;
                    }
                }

                &:not(:last-child) {
                    &:after {
                        display: inline-block;
                        content: '\f061';
                        font-family: 'Font Awesome 5 Pro';
                        margin-left: 20px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}