.login {
    padding: 120px 40px;
    background-image: url("/src/images/bg/lbackground87.webp");
    background-size: cover;
    background-repeat: no-repeat;

    @media #{$xs} {
        padding: 120px 15px;

        .login--l,
        .login--s {
            background-color: rgba(78, 99, 44, 0.5);
            border-radius: 25px;
            padding: 10px 20px;
        }
        .description-tabs {
            margin: 0;

            .nav {
                justify-content: space-around;
                border-bottom: none;

                .nav-link {
                    color: #fff;

                    &::after {
                        background-color: #fff;
                    }
                }
            }
        }
    }

    span:not(.main-btn-span) {
        font-size: 14px;
        color: $red;
        display: block;
    }

    &--wrap {

        position: relative;
        max-width: 900px;
        min-width: 200px;
        margin: 50px auto;
    }

    &--l,
    &--s {
        height: 630px;
        position: relative;
        padding: 22px 33px;
    }

    &--s {
        background-color: rgba(207, 207, 207, 0.8);
        z-index: 0;

        border-radius: 29px 0 0 29px;



        .title {
            margin: 30px 0;
            text-align: center;

            span {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    &--alt {
        background-color: $red;

        .title {
            margin: 30px 0;
            text-align: center;

            span {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    &--l {
        background-color: rgba(78, 99, 44, 0.5);
        border-radius: 0 29px 29px 0;

        .title {
            margin: 30px 0;
            text-align: center;

            span {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    &--body {
        padding: 0 20px;

        .form-item {
            padding: 8px;

            span {
                color: $red;
                font-size: 13px;
            }
        }
    }

    label {
        margin-top: 16px;
        margin-bottom: 5px;
        font-size: 16px;
        margin-right: 8px;
        color: white;
    }

    input {
        width: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
        color: black;
        border-radius: 8px;
        text-align: center;
        height: 56px;
        font-size: 16px;
    }

    .sbmt {
        text-align: center;
        margin: 26px;

        .main-btn {
            background-color: transparent;
        }
    }
}